@import 'mixins';
@import 'variables';

.modal-input {
  display: flex;
  width: 100%;
  height: 35px;
  border: 1px solid $color-gray-dark;
  background-color: $color-gray-light;
  font-size: 18px;
  padding: 2px 10px;
  margin: 10px 0;
  @include border-radius(4px);
  @include focus {
    outline: none;
    background-color: $color-white;
    border: 1px solid $color-purple-light;
  }
  .user-item {
    display: flex;
    padding: 8px 20px 8px 20px;
    border: 1px solid transparent;
    border-bottom: 1px solid $color-gray-dark;
    justify-content: space-between;
    cursor: pointer;

    @include hover-focus {
      cursor: pointer;
      border: 1px solid $color-purple-light;
      @include border-radius(2px);
    }
  }
}
